body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    color: #333;
    background-color: #f1f1f1;
}

body, html, #app {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__top {
        flex-grow: 1;
        padding: 30px 30px 0 30px;
    }
    &__bottom {
        padding: 30px;
    }
}

input {
    font: inherit;
    padding: 20px;
    border: solid 1px rgba(0,0,0,0.1);
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
}

h4 {
    margin: 0 0 15px 0;
}

.card {
    border: solid 1px rgba(0,0,0,0.1);
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    &--empty {
       background-color:rgba(0,0,0,0.05);
       border: 0;
    }
    &__header {
        margin-bottom: 15px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        color: #666;
    }
}

.card + .card {
    margin-top: 20px;
}

.section + .section {
    margin-top: 30px;
}

